.jumbotron {
    background-color: rgba(155, 155, 155, 0.071);
    width: 450px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
}

.form-control {
    margin: 0.5em;
}

.selecionado {
    background-color:rgba(0, 0, 255, 0.262);
}

.botao-apagar {
    margin: 0.5em;
}

.negrito {
    font-weight: bold;
}

.requireLength {
    font-size: 13px;
    font-style: italic;
    color: red;
}